@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px dotted red;
}
body {
  font-size: 14px;
  font-family: ralewayregular;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
span {
  color: rgb(33, 186, 160);
  font-family: ralewaybold;
}

/* NOTE: HEADER  */

.main-header {
  background-color: black;
}
.main-header__logo {
  float: left;
  width: 100px;
}
.main-header__logo p {
  padding: 15px 0;
  color: white;
}

/* NOTE: NAVBAR */

.main-header__navbar {
  float: right;
}
.main-header__navbar ul {
  list-style-type: none;
  overflow: hidden;
}
.main-header__navbar li {
  float: left;
}
.main-header__navbar li p {
  padding: 15px 20px;
  color: white;
  font-weight: bold;
}

/* NOTE: FIRST SECTION */

.first-section {
  padding-top: 100px;
  padding-bottom: 50px;
  background: -webkit-linear-gradient(top,
              rgba(254,254,254,0.8) 0%,
              rgba(254,254,254,0.9) 35%,
              rgba(208,208,217, 0.8) 100%);
}
.first-section__arrow {
  position: relative;
  height: 340px;
  width: 40px;
}
.first-section__arrow p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
  height: 70px;
  color: rgb(33, 186, 160);

}
.first-section__arrow:first-of-type {
  float: left;
}
.first-section__chair {
  width: 468px;
  height: 340px;
  background-image: url("../images/black_chair.png");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -50px -50px;
  float: left;
}
.first-section__description {
  float: left;
  width: 550px;
}
.first-section__description h1 {
  padding: 30px 0;
  text-align: center;
  font-size: 40px;
}
.first-section__article p {
  text-align: center;
  line-height: 20px;
  padding: 0 30px 30px 30px;
}
.first-section__button {
  margin: 0 auto;
  width: 260px;
  border-radius: 10px;
  background-color: rgb(33, 186, 160);
}
.first-section__button p {
  text-align: center;
  font-size: 22px;
  padding:15px 5px;
  color: white;
}
.first-section__arrow:last-of-type {
  float: right;
}

/* NOTE: SECOND SECTION */

.second-section{
   padding-top: 30px;
   padding-bottom: 50px;
}
.second-section__box {
  float: left;
  position: relative;
  margin-right: 30px;
  width: 346px;
  height: 225px;
  background-size: cover;
  background-repeat: no-repeat;
}
.second-section__box--clair {
  background-image: url("../images/box1_img.jpg");
}
.second-section__box--margarita {
  background-image: url("../images/box2_img.jpg");
}
.second-section__box--all-inputs {
  height: 250px;
  border: 1px solid rgba(201, 201, 201, 0.56);
  margin-right: 0;
}
.box__transparent {
  width: 100%;
  height: 55px;
  position: absolute;
  top: 70%;
  background-color: rgba(255, 255, 255, 0.50);
}
.box__transparent p {
  font-size: 16px;
  font-family: ralewaybold;
  padding: 10px 0 0 20px;
}
.box__transparent--all-inputs {
  top: 10%;
  background-color: white;
}
.box__underline {
  margin-left: 20px;
  border-top: 7px solid rgb(33, 186, 160);
  width: 150px;
}
.second-section__article p {
  font-family: ralewayregular;
  padding-right: 20px;
  font-size: 14px;
  line-height: 20px;
  color: gray;
}


/* NOTE: CLEAR */

.clear:after {
  content: "";
  display: table;
  clear: both;
}
