@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px dotted red;
}
body {
  font-size: 14px;
  font-family: ralewayregular;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
span {
  color: rgb(33, 186, 160);
  font-family: ralewaybold;
}

/* NOTE: HEADER  */

.main-header {
  background-color: black;
}
.main-header__logo {
  float: left;
  width: 100px;
}
.main-header__logo p {
  padding: 15px 0;
  color: white;
}

/* NOTE: NAVBAR */

.main-header__navbar {
  float: right;
}
.main-header__navbar ul {
  list-style-type: none;
  overflow: hidden;
}
.main-header__navbar li {
  float: left;
}
.main-header__navbar li p {
  padding: 15px 20px;
  color: white;
  font-weight: bold;
}

/* NOTE: FIRST SECTION */

.first-section {
  padding-top: 100px;
  padding-bottom: 50px;
  background: -webkit-linear-gradient(top,
              rgba(254,254,254,0.8) 0%,
              rgba(254,254,254,0.9) 35%,
              rgba(208,208,217, 0.8) 100%);
}
.first-section__arrow {
  position: relative;
  height: 340px;
  width: 40px;
}
.first-section__arrow p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
  height: 70px;
  color: rgb(33, 186, 160);

}
.first-section__arrow:first-of-type {
  float: left;
}
.first-section__chair {
  width: 468px;
  height: 340px;
  background-image: url("../images/black_chair.png");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -50px -50px;
  float: left;
}
.first-section__description {
  float: left;
  width: 550px;
}
.first-section__description h1 {
  padding: 30px 0;
  text-align: center;
  font-size: 40px;
}
.first-section__article p {
  text-align: center;
  line-height: 20px;
  padding: 0 30px 30px 30px;
}
.first-section__button {
  margin: 0 auto;
  width: 260px;
  border-radius: 10px;
  background-color: rgb(33, 186, 160);
}
.first-section__button p {
  text-align: center;
  font-size: 22px;
  padding:15px 5px;
  color: white;
}
.first-section__arrow:last-of-type {
  float: right;
}

/* NOTE: SECOND SECTION */

.second-section{
   padding-top: 30px;
   padding-bottom: 50px;
}
.second-section__box {
  float: left;
  position: relative;
  margin-right: 30px;
  width: 346px;
  height: 225px;
  background-size: cover;
  background-repeat: no-repeat;
}
.second-section__box--clair {
  background-image: url("../images/box1_img.jpg");
}
.second-section__box--margarita {
  background-image: url("../images/box2_img.jpg");
}
.second-section__box--all-inputs {
  height: 250px;
  border: 1px solid rgba(201, 201, 201, 0.56);
  margin-right: 0;
}
.box__transparent {
  width: 100%;
  height: 55px;
  position: absolute;
  top: 70%;
  background-color: rgba(255, 255, 255, 0.50);
}
.box__transparent p {
  font-size: 16px;
  font-family: ralewaybold;
  padding: 10px 0 0 20px;
}
.box__transparent--all-inputs {
  top: 10%;
  background-color: white;
}
.box__underline {
  margin-left: 20px;
  border-top: 7px solid rgb(33, 186, 160);
  width: 150px;
}
.second-section__article p {
  font-family: ralewayregular;
  padding-right: 20px;
  font-size: 14px;
  line-height: 20px;
  color: gray;
}

/* NOTE: THIRD SECTION */

.third-section {
  background-color: rgb(240, 240, 240);
}
.third-section__header {
  width: 100px;
  padding-top: 30px;
  padding-bottom: 5px;
}
.box__underline--nomargin {
  margin-left: 0;
  width: 340px;
  margin-bottom: 70px;
}
.third-section__option-box {
  float: left;
  margin-right: 30px;
  width: 346px;
  height:  497px;
  border: 2px solid lightgrey;
  background-color: white;
  position: relative;
  margin-bottom: 50px;
}
.third-section__option-box:last-of-type {
  margin-right: 0;
}
.option-box__circle {
  position: absolute;
  background-color: white;
  border: 2px solid lightgrey;
  left: 50%;
  top: -35px;
  border-radius: 50%;
  transform: translateX(-50%);
  width: 56px;
  height: 56px;
  z-index: 2;
}
.box-circle__insidebox {
  position: absolute;
  background-color: rgb(191,191,191);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.option-box__plan {
  position: relative;
  background-color: rgb(248,248,248);
  padding-bottom: 3px;
  z-index: 1;
}
.plan__header {
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
  color: rgb(33, 186, 160);
}
.plan__price-circle {
  position: relative;
  margin:30px auto;
  border: 2px solid lightgrey;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.price-circle__price-number {
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translateX(-50%);
  font-size: 44px;
  font-family: ralewaybold;
  color: rgb(191,191,191);
}
.price-circle__price-unit {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translateX(-50%);
  color: rgb(191,191,191);
}
sup {
  font-size: 16px;
}
.option-box__properties {
  text-align: center;
  height: 164px;
}
.option-box__properties p {
  font-size: 25px;
  color: rgb(144,144,144);
  padding: 5px 0;
  background-color: rgb(227,227,227);
}
.option-box__properties p:nth-of-type(2n+2) {
  background-color: rgb(240,240,240);
  border: 1px solid rgb(240,240,240);
}
.option-box__button {
  margin: 0 auto;
  width: 130px;
  border-radius: 10px;
  background-color: rgb(33, 186, 160);
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.option-box__button p {
  font-size: 16px;
  text-align: center;
  padding:10px;
}

/* NOTE: ACTIVE SELECTION */

.green-background {
  background-color: rgb(37, 199, 172);
  border-color: rgb(37, 199, 172);
}
.white-font {
  color: white;
}
.green-font {
  color: rgb(33, 186, 160);
}
.white-background  {
  background-color: white;
}
.white-border {
  border-color: white;
}

/* NOTE: CONTACT SECTION */

.contact-section__header {
  width: 100px;
  padding-top: 30px;
  padding-bottom: 5px;
}
.box__underline--bottom {
  margin-bottom: 40px;
}
.contact-section__right-box {
  float: right;
  width: 350px;
}
.right-box__red-chair {
  width: 264px;
  height: 210px;
  background-size: cover;
  background-image: url("../images/red_chair.png");
  margin-bottom: 20px;
}
.contact-section__form input[type="text"] {
  float: left;
  width: 700px;
  height: 60px;
  border: 1px solid rgb(37, 199, 172);
  font-size: 28px;
  padding-left: 10px;
  margin-bottom: 30px;
  font-family: ralewayregular;
}
.contact-section__form textarea {
  float: left;
  width: 700px;
  height: 200px;
  border: 1px solid rgb(37, 199, 172);
  font-size: 28px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 30px;
  font-family: ralewayregular;
  resize: none;
}
.right-box__checkbox {
  float:left;
  width: 50px;
  height: 50px;
  background-image: url("../images/form_ok.jpg");
  border: 1px solid rgb(37, 199, 172);
  background-repeat:no-repeat;
  background-size: 90%;
  background-position: 0 10px;
}
.right-box__text {
  float: left;
  width: 280px;
  padding: 5px 10px;
  font-size: 18px;
  color: lightgrey;
}
.right-box__button {
  float: left;
  margin-top: 25px;
  width: 330px;
  border-radius: 10px;
  background-color: rgb(33, 186, 160);
}
.right-box__button p {
  text-align: center;
  font-size: 35px;
  padding:15px 0;
  color: white;
  font-family: ralewaybold
}
::-webkit-input-placeholder {
  color: lightgrey;
}
/* NOTE: MAIN FOOTER */

.main-footer {
  margin-top: 50px;
  margin-bottom: 50px;
}
.main-footer__copyright {
  float: left;
  font-size: 16px;
  color: grey;
}
.main-footer__logo-container {
  float: left;
  margin-left: 375px;
}
.logo-container__brand {
  float: left;
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
}
.logo-container__brand--flicker {
  background-image: url("../images/flickr.png");
}
.logo-container__brand--vimeo {
  background-image: url("../images/vimeo.png");
}
.logo-container__brand--pinterest {
  background-image: url("../images/pinterest.png");
}
.logo-container__brand--twitter {
  background-image: url("../images/twitter.png");
}
.main-footer__name {
  float: right;
  font-size: 18px;
}


/* NOTE: CLEAR */

.clear:after {
  content: "";
  display: table;
  clear: both;
}
